@page
@model Web.Pages_Schdules.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Schedule.Sequence" class="control-label"></label>
                <input asp-for="Schedule.Sequence" class="form-control" />
                <span asp-validation-for="Schedule.Sequence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.CornerId" class="control-label"></label>
                <select asp-for="Schedule.CornerId" class ="form-control" asp-items="ViewBag.CornerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.BroadcastId" class="control-label"></label>
                <select asp-for="Schedule.BroadcastId" class ="form-control" asp-items="ViewBag.BroadcastId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.CreateUserId" class="control-label"></label>
                <input asp-for="Schedule.CreateUserId" class="form-control" />
                <span asp-validation-for="Schedule.CreateUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.UpdateUserId" class="control-label"></label>
                <input asp-for="Schedule.UpdateUserId" class="form-control" />
                <span asp-validation-for="Schedule.UpdateUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.CreatedAt" class="control-label"></label>
                <input asp-for="Schedule.CreatedAt" class="form-control" />
                <span asp-validation-for="Schedule.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.UpdatedAt" class="control-label"></label>
                <input asp-for="Schedule.UpdatedAt" class="form-control" />
                <span asp-validation-for="Schedule.UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
