@page "{handler?}"
@model Web.Pages_Specification.EditModel

@{
    ViewData["Title"] = "明細入力";
}

<h4>明細入力</h4>
<hr />

<div class="d-flex flex-row">
    <a asp-page="/Schedules/Index" class="text-dark">
        <h5>@Model.SpecificationViewModel.AirDate.ToString("yyyy/MM/dd") 放送　@Model.SpecificationViewModel.TvProgramName</h5>
    </a>
    @* <p class="ml-auto text-secondary font-weight-light">最終更新日時: @Model.SpecificationViewModel.UpdatedAt.ToString("yyyy/MM/dd hh:mm:ss")</p> *@
</div>

<form method="post" id="specification-form">

    <ul class="nav nav-tabs" id="specification" role="tablist">
        <li class="nav-item">
            <a class="nav-link text-dark active" id="basic-tab" data-toggle="tab" href="#basic-content">基本情報</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="source-tab" data-toggle="tab" href="#source-content">ニュースソース</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="interview-tab" data-toggle="tab" href="#interview-content">取材先</a>
        </li>
        <li class="nav-item mr-auto">
            <a class="nav-link text-dark" id="cast-tab" data-toggle="tab" href="#cast-content">出演者</a>
        </li>
        <li class="d-flex align-items-center mr-3">
            <div class="form-check">
                <input asp-for="SpecificationViewModel.DeskCheck" type="checkbox" class="form-check-input" >
                <label asp-for="SpecificationViewModel.DeskCheck" class="form-check-label"></label>
            </div>
        </li>
        <li>
            <button type="submit" form="specification-form" class="btn btn-primary">
                <i class="fa fa-save" aria-hidden="true"></i>&nbsp;保存
            </button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="tab-pane fade show active m-3" id="basic-content">
            @await Html.PartialAsync("_BasicTabContent", Model)
        </div>

        <div class="tab-pane fade m-3" id="source-content">
            @await Html.PartialAsync("_SourceTabContent", Model)
        </div>

        <div class="tab-pane fade" id="interview-content">
            @await Html.PartialAsync("_InterviewTabContent", Model)
        </div>

        <div class="tab-pane fade" id="cast-content">
            @await Html.PartialAsync("_CastTabContent", Model)
        </div>
    </div>

    <input type="hidden" asp-for="SpecificationViewModel.SpecificationId" />
</form>

@section Scripts{
    <script>
        $("#add-material-button").on('click', function(){
            $.ajax({
                type: 'POST',
                url: '/Specification/Edit/AddMaterial',
                data: $('#materials :input').serialize(),
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(partialView){
                    $('#materials').html(partialView);
                }
            });
        });

        $("#materials").on('click', '.remove', function(){
            $(this).parents('tr').children(".dead-flag").val("true");
            $.ajax({
                type: 'POST',
                url: '/Specification/Edit/DeleteMaterial',
                data: $('#materials :input').serialize(),
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(partialView){
                    $('#materials').html(partialView);
                }
            });            
        });

        $("#add-interview-button").on('click', function(){
            $.ajax({
                type: 'POST',
                url: '/Specification/Edit/AddInterview',
                data: $('#interviews :input').serialize(),
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(partialView){
                    $('#interviews').html(partialView);
                }
            });
        });

        $("#interviews").on('click', '.remove', function(){
            $(this).parents('tr').children(".dead-flag").val("true");
            $.ajax({
                type: 'POST',
                url: '/Specification/Edit/DeleteInterview',
                data: $('#interviews :input').serialize(),
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(partialView){
                    $('#interviews').html(partialView);
                }
            });
        });

        $("#add-cast-button").on('click', function(){
            $.ajax({
                type: 'POST',
                url: '/Specification/Edit/AddCast',
                data: $('#casts :input').serialize(),
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(partialView){
                    $('#casts').html(partialView);
                }
            });
        });

        $("#casts").on('click', '.remove', function(){
            $(this).parents('tr').children(".dead-flag").val("true");
            $.ajax({
                type: 'POST',
                url: '/Specification/Edit/DeleteCast',
                data: $('#casts :input').serialize(),
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function(partialView){
                    $('#casts').html(partialView);
                }
            });            
        });      
    </script>
}